<ion-view title="Atendimento da Fila" hide-nav-bar="true" id="page9" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="atendimentoDaFila-card29">
            <h5 id="atendimentoDaFila-heading18" style="color:#5C5C5C;font-weight:400;text-align:center;" class=" ">PUC MINAS - Sem Fila</h5>
            <ion-item class="item-avatar item-icon-right positive  " id="atendimentoDaFila-list-item19" ui-sref="home">
                <h2positive>Aluno
                    <p style="white-space:normal;">Matricula</p>
                    <i class="icon ion-log-out icon-accessory"></i>
                </h2positive>
            </ion-item>
        </div>
        <div class="spacer" style="width: 285px; height: 30px;"></div>
        <p id="atendimentoDaFila-markdown1" style="color:#000000;font-size:16px;text-align:center;" class=" ">Prezado (a), sua senha
            <strong>000514</strong>foi chamada para atendimento.</p>
        <p id="atendimentoDaFila-markdown3" style="color:#000000;font-size:16px;text-align:center;" class=" ">Dirija-se à Secretaria Acadêmica.</p>
        <div class="spacer" style="width: 285px; height: 36px;"></div>
        <a ui-sref="telaDeAgradecimento" id="atendimentoDaFila-button59" class=" button button-balanced button-small button-block ">Finalizar atendimento</a>
    </ion-content>
</ion-view>