<ion-view title="Cadastro" id="page11" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div class="">
            <a style="display:block;" href="#" onclick="window.open('http://www.pucminas.br/', '_system', 'location=yes'); return false;">
                <img src="img/wFQkGRfT8SBhoN38aXTQ_puc.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <form id="cadastro-form7" class="list">
            <h2 id="cadastro-heading10" style="color:#5C5C5C;text-align:center;" class=" ">Sem Fila</h2>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <label class="item item-input " id="cadastro-input5" name="matricula">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="" ng-model="usuario.nome">
            </label>
            <label class="item item-input " id="cadastro-input6" name="senha">
                <span class="input-label">Matricula</span>
                <input type="number" placeholder="" ng-model="usuario.matricula">
            </label>
            <label class="item item-input " id="cadastro-input7" name="senha">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="" ng-model="usuario.senha">
            </label>
            <a ui-sref="home" id="cadastro-button33" style="font-size:24px;" class=" button button-balanced  button-block " ng-click="cadastrar(usuario)">Cadastrar</a>
        </form>
    </ion-content>
</ion-view>
