<ion-view title="Divisão Financeira" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="divisOFinanceira-card25">
            <h5 id="divisOFinanceira-heading9" style="color:#5C5C5C;font-weight:400;text-align:center;" class=" ">PUC MINAS - Sem Fila</h5>
            <ion-item class="item-avatar item-icon-right positive  " id="divisOFinanceira-list-item8" ui-sref="home">
                <h2positive>{{usuarioAtivo.nome}}
                    <p style="white-space:normal;">{{usuarioAtivo.matricula}}</p>
                    <i class="icon ion-log-out icon-accessory"></i>
                </h2positive>
            </ion-item>
        </div>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button9" style="font-weight:500;" class=" button button-positive button-small button-block ">Aditamento FIES</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button10" style="font-weight:500;" class=" button button-positive button-small button-block ">Análise de semestralidade</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button11" style="font-weight:500;" class=" button button-positive button-small button-block ">Declarações financeiras</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button12" style="font-weight:500;" class=" button button-positive button-small button-block ">Emissão de boletos</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button13" style="font-weight:500;" class=" button button-positive button-small button-block ">Lançamento de bolsas</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button14" style="font-weight:500;" class=" button button-positive button-small button-block ">Nada consta financeiro</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button16" style="font-weight:500;" class=" button button-positive button-small button-block ">Pagamento de taxas</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button17" style="font-weight:500;" class=" button button-positive button-small button-block ">Pagamento de taxas DA e DCE</a>
        <a ui-sref="filaDeEspera" id="divisOFinanceira-button15" style="font-weight:500;" class=" button button-positive button-small button-block ">Outros serviços</a>
        <a ui-sref="atendimento" id="divisOFinanceira-button37" class=" button button-assertive button-small button-block ">Voltar</a>
    </ion-content>
</ion-view>
