<ion-view title="Fila de Espera" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="filaDeEspera-card27">
            <h5 id="filaDeEspera-heading13" style="color:#5C5C5C;font-weight:400;text-align:center;" class=" ">PUC MINAS - Sem Fila</h5>
            <ion-item class="item-avatar item-icon-right positive  " id="filaDeEspera-list-item10" ui-sref="home">
                <h2positive>Aluno
                    <p style="white-space:normal;">Matricula</p>
                    <i class="icon ion-log-out icon-accessory"></i>
                </h2positive>
            </ion-item>
        </div>
        <h4 id="filaDeEspera-heading15" style="color:#5C5C5C;" class=" ">Sua senha:</h4>
        <ion-list id="filaDeEspera-list11" class=" ">
            <ion-item class="item-divider " id="filaDeEspera-list-item-divider5">000514</ion-item>
        </ion-list>
        <h4 id="filaDeEspera-heading16" style="color:#5C5C5C;" class=" ">Senha atual:</h4>
        <ion-list id="filaDeEspera-list10" class=" ">
            <ion-item class="item-divider " id="filaDeEspera-list-item-divider4">000508</ion-item>
        </ion-list>
        <h4 id="filaDeEspera-heading17" style="color:#5C5C5C;" class=" ">Estimativa de tempo:</h4>
        <ion-list id="filaDeEspera-list13" class=" ">
            <ion-item class="item-icon-left assertive  " id="filaDeEspera-list-item18">
                <i class="icon ion-android-alarm-clock"></i>5 Minuto(s)</ion-item>
        </ion-list>
        <a ui-sref="telaDeAgradecimento" id="filaDeEspera-button58" class=" button button-energized button-small button-block ">Deixar fila</a>
    </ion-content>
</ion-view>