<ion-view title="Home" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="home-card21">
            <h5 id="home-heading3" style="color:#5C5C5C;font-weight:400;text-align:center;" class=" ">PUC MINAS - Sem Fila</h5>
            <ion-item class="item-avatar item-icon-right positive  " id="home-list-item2">
                <h2positive>{{usuarioAtivo.nome}}
                    <p style="white-space:normal;">{{usuarioAtivo.matricula}}</p>
                    <i class="icon ion-log-out icon-accessory"></i>
                </h2positive>
            </ion-item>
        </div>
        <h3 id="home-heading4" style="color:#000000;font-weight:400;text-align:center;" class=" ">Tipo de atendimento</h3>
        <div class="spacer" style="width: 285px; height: 30px;"></div>
        <a ui-sref="atendimento" id="home-button5" style="font-weight:500;" class=" button button-positive  button-block " ng-click="solicitar('n')">Normal</a>
        <a ui-sref="atendimento" id="home-button6" style="font-weight:500;" class=" button button-royal  button-block " ng-click="solicitar('p')">Prioritário</a>
    </ion-content>
</ion-view>
