<ion-view title="Login" id="page1" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div class="">
            <a style="display:block;" href="#" onclick="window.open('http://www.pucminas.br/', '_system', 'location=yes'); return false;">
                <img src="img/wFQkGRfT8SBhoN38aXTQ_puc.png" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <form id="login-form6" class="list ">
            <h2 id="login-heading1" style="color:#5C5C5C;text-align:center;" class=" ">Sem Fila</h2>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <label class="item item-input " id="login-input3" name="matricula">
                <span class="input-label">Matricula</span>
                <input type="number" placeholder="" ng-model="usuario.matricula">
            </label>
            <label class="item item-input " id="login-input4" name="senha">
                <span class="input-label">Senha</span>
                <input type="password" placeholder="" ng-model="usuario.senha">
            </label>
        </form>
        <div id="login-button-bar6" class=" button-bar ">
            <a ui-sref="cadastro" id="login-button35" class=" button button-balanced  button-block ">Cadastre-se</a>
            <a ui-sref="home" id="login-button40" class=" button button-positive  button-block " ng-click="autenticar(usuario)">Entrar</a>
        </div>
    </ion-content>
</ion-view>
