<ion-view title="Secretária Acadêmica" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="secretRiaAcadMica-card26">
            <h5 id="secretRiaAcadMica-heading11" style="color:#5C5C5C;font-weight:400;text-align:center;" class=" ">PUC MINAS - Sem Fila</h5>
            <ion-item class="item-avatar item-icon-right positive  " id="secretRiaAcadMica-list-item9" ui-sref="home">
                <h2positive>Aluno
                    <p style="white-space:normal;">Matricula</p>
                    <i class="icon ion-log-out icon-accessory"></i>
                </h2positive>
            </ion-item>
        </div>
        <h3 id="secretRiaAcadMica-heading12" style="color:#000000;font-weight:400;text-align:center;" class=" ">Tipo de serviço</h3>
        <button id="secretRiaAcadMica-button18" style="font-weight:500;" class=" button button-positive button-small button-block ">Atividade complementar</button>
        <button id="secretRiaAcadMica-button19" style="font-weight:500;" class=" button button-positive button-small button-block ">Carteirinha estudantil</button>
        <button id="secretRiaAcadMica-button20" style="font-weight:500;" class=" button button-positive button-small button-block ">Decalração de matrciula</button>
        <button id="secretRiaAcadMica-button21" style="font-weight:500;" class=" button button-positive button-small button-block ">Diploma</button>
        <button id="secretRiaAcadMica-button22" style="font-weight:500;" class=" button button-positive button-small button-block ">Disciplina isolada</button>
        <button id="secretRiaAcadMica-button23" style="font-weight:500;" class=" button button-positive button-small button-block ">Dispensa de disciplina</button>
        <button id="secretRiaAcadMica-button24" style="font-weight:500;" class=" button button-positive button-small button-block ">Formatura</button>
        <button id="secretRiaAcadMica-button25" style="font-weight:500;" class=" button button-positive button-small button-block ">Histórico escolar</button>
        <button id="secretRiaAcadMica-button26" style="font-weight:500;" class=" button button-positive button-small button-block ">Matrícula</button>
        <button id="secretRiaAcadMica-button29" style="font-weight:500;" class=" button button-positive button-small button-block ">Portador de diploma</button>
        <button id="secretRiaAcadMica-button30" style="font-weight:500;" class=" button button-positive button-small button-block ">Reabertura de matrícula</button>
        <button id="secretRiaAcadMica-button31" style="font-weight:500;" class=" button button-positive button-small button-block ">Transferência externa</button>
        <button id="secretRiaAcadMica-button32" style="font-weight:500;" class=" button button-positive button-small button-block ">Transferncia ambito PUC</button>
        <button id="secretRiaAcadMica-button27" style="font-weight:500;" class=" button button-positive button-small button-block ">Outras declarações</button>
        <button id="secretRiaAcadMica-button28" style="font-weight:500;" class=" button button-positive button-small button-block ">Outras serviços</button>
        <a ui-sref="atendimento" id="secretRiaAcadMica-button36" class=" button button-assertive button-small button-block ">Voltar</a>
        <div id="secretRiaAcadMica-button-bar2" class=" button-bar "></div>
    </ion-content>
</ion-view>