<ion-view title="Tela de Agradecimento" hide-nav-bar="true" id="page10" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="telaDeAgradecimento-card210">
            <h5 id="telaDeAgradecimento-heading22" style="color:#5C5C5C;font-weight:400;text-align:center;" class=" ">PUC MINAS - Sem Fila</h5>
            <ion-item class="item-avatar item-icon-right positive  " id="telaDeAgradecimento-list-item21" ui-sref="home">
                <h2positive>{{usuarioAtivo.nome}}
                    <p style="white-space:normal;">{{usuarioAtivo.matricula}}</p>
                    <i class="icon ion-log-out icon-accessory"></i>
                </h2positive>
            </ion-item>
        </div>
        <div class="spacer" style="width: 285px; height: 30px;"></div>
        <p id="telaDeAgradecimento-markdown4" style="color:#000000;font-size:17px;text-align:center;" class=" ">Obrigado por utilizar nosso aplicativo!</p>
        <div class="spacer" style="width: 285px; height: 36px;"></div>
        <div id="telaDeAgradecimento-button-bar5" class=" button-bar ">
            <a id="telaDeAgradecimento-button63" class=" button button-assertive button-small button-block " ng-click="exitApp()">Sair</a>
        </div>
    </ion-content>
</ion-view>
